$def with (builds, site_url)

$var cssfiles: /static/bootstrap/css/bootstrap.css /static/bootstrap/css/custom.css
$var site_url: $site_url
	<form class="well form-inline" method="post" action ="add" id="addBuildForm">
		<input type="text" id="add-repos" class="required" name="repos" placeholder="Repository URL"/>
		<input type="text" id="add-branch" class="required" name="branch" placeholder="Branch" />
		<input type="text" id="add-version" class="required" name="version" placeholder="Mapped Version" />
		<input type="text" id="add-author" class="required" name="author" placeholder="Author" />
		<button type="submit" class="btn btn-primary">Add</button>
	</form>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Notice!</strong> Build will start without --latin=1 option, so only English language  will be applied!.
	</div>

	<table class="table table-condensed">
	<thead>
		<tr>
		<th>Branch</th>
		<th>Version</th>
		<th>Latest Build</th>
		<th>Status</th>
		<th>Repository URL</th>
		<th>Author</th>
		<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	$for build in builds:
		<tr id="t$build.task_id">
			<td><a href="../build${build.branch}">$build.branch</a></td>
			<td>$build.version</td>
			<td><a href="../public/builds/${build.branch}/latest">$build.last_build_date</a></td>
			<td name="list_status" class="${build.status}" id="build_status_${build.task_id}">$build.status</td>
			<td>$build.repos</td>
			<td>$build.author</td>
			<td>
			<input type="button" class="btn btn-success" name="rebuild" id="buildList-$build.task_id"  value="Build" >
			<input type="button" data-toggle="modal" name="editBuild" class="btn" data-target="#popupViewBuild" id="editList-$build.task_id" value="Edit" >
			<a data-toggle="modal" name="duplicateBuild" class="btn" data-target="#popupViewBuild" id="dupList-$build.task_id" >Duplicate</a>
			<input type="button" class="btn btn-danger" name="removeBuild" id="buildListRemove-$build.task_id" value="Remove">
			</td>
		</tr>
	</tbody>
	</table>
</div>
	<div class="modal hide fade" id="popupViewBuild" >
		<div class="modal-header">
			<a class="close" data-dismiss="modal" >x</a>
			<h3 id="popView-title">Loading build task, please wait or refresh current page!</h3>
			<input type="hidden" id="popView-selectAction" value="" />
			<input type="hidden" id="popView-selectBuildID" value="" />
		</div>
		<div class="modal-body">
			<form class="well form-horizontal" method="post" action ="add" id="popView-actionBuildForm">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="popView-repos">Repository URL:</label>
						<div class="controls">
							<input type="text" class="required" id="popView-repos" name="repos" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-branch">Branch:</label>
						<div class="controls">
							<input type="text" id="popView-branch"  class="required" name="branch" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-version">Mapped Version:</label>
						<div class="controls">
							<input type="text" id="popView-version" class="required" name="version" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-package_list">Packages:</label>
						<div class="controls">
							<input type="text" id="popView-package_list" class="required" name="package_list" /><a href="#" id="package-help-info"><i class="icon-info-sign"></i></a>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-upgrade_package">Upgrade Package:</label>
						<div class="controls">
							<input type="checkbox" id="popView-upgrade_package" name="upgrade_package" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-author">Author:</label>
						<div class="controls">
							<input type="text" id="popView-author" class="required" name="author" />
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
			<a class="btn" href="#" data-dismiss="modal">Cancel</a>
			<a class="btn btn-primary" id="popView-Save" href="#">Save</a>
		</div>
	</div>		
	<div class="modal hide fade" id="popupViewMail" >
		<div class="modal-header">
			<a class="close" data-dismiss="modal" >x</a>
			<h3 id="popView-title">Send email to admin!</h3>
			<input type="hidden" id="popView-selectAction" value="" />
			<input type="hidden" id="popView-selectBuildID" value="" />
		</div>
		<div class="modal-body">
			<form class="well form-horizontal" method="post" action ="sendmail" id="popView-sendMailForm">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="popView-MailTo">To: </label>
						<div class="controls">
							<input readonly="readonly" type="text" class="required" id="popView-MailTo" name="to" value="oyang@sugarcrm.com" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-MailFrom">From: </label>
						<div class="controls">
							<input type="text" class="required email" id="popView-MailFrom" name="from_address" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-MailSubject">Subject: </label>
						<div class="controls">
							<input type="text" id="popView-MailSubject"  class="required" name="subject" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-MailMessage">Message: </label>
						<div class="controls">
							<textarea id="popView-MailMessage" rows="9" cols="30"  class="required input-xlarge" name="message" ></textarea>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
			<a class="btn" href="#" data-dismiss="modal">Cancel</a>
			<a class="btn btn-primary" id="popView-Send" href="#">Send</a>
		</div>
	</div>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/jquery.validate.min.js"></script>
    <script src="/static/bootstrap/js/validate.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/custom.js"></script>
