$def with (od_deploys, site_url)
$var cssfiles: /static/bootstrap/css/bootstrap.css /static/bootstrap/css/custom.css
$var site_url: $site_url

	<form class="well form-inline" method="post" action ="./oddeploy_add" id="addBuildForm">
		<select name="username">
			<option value="dsafar">David Safar</option>
			<option value="dclunie">David Clunie</option>
			<option value="dganti">Deepthi Ganti</option>
			<option value="egan">Emily Gan</option>
			<option value="eyang">Eric Yang</option>
			<option value="franklin">Fanklin Liu</option>
			<option value="gpatterson">Geno Patterson</option>
			<option value="grelampagos">Gino Relampagos</option>
			<option value="chenj">Jackie Chen</option>
			<option value="jcho">Jessica Cho</option>
			<option value="jxia">Jennifer Xia</option>
			<option value="mlouis">Mazen Louis</option>
			<option value="oyang">Oliver Yang</option>
			<option value="rlee">Randy Lee</option>
			<option value="rzhou">Ran Zhou</option>
			<option value="phuang">Paul Huang</option>
		</select>
		<select name="version">
			<option value="6.6.0">6.6.0</option>
			<option value="6.5.6">6.5.6</option>
		</select>
		<input name="webroot" type="hidden"  value="qatest-web1.sjc.sugarcrm.pvt" >
		<!--
		<select name="webroot">
			<option value="qatest-web1.sjc.sugarcrm.pvt">qatest-web1.sjc.sugarcrm.pvt</option>
			<option value="qatest-web2.sjc.sugarcrm.pvt">qatest-web2.sjc.sugarcrm.pvt</option>
		</select>
		-->
		<input type="checkbox" name="flavor1" value="Ult">Ult
		<input type="checkbox" name="flavor2" value="Ent" checked>Ent
		<input type="checkbox" name="flavor3" value="Corp">Corp
		<input type="checkbox" name="flavor4" value="Pro">Pro
		<input type="checkbox" name="flavor5" value="CE">CE

		<button id="footer_save "  type="submit" class="btn btn-primary">Add</button>
	</form>

	<table class="table table-condensed">
	<thead>
		<tr>
		<th>Username</th>
		<th>Version</th>
		<th>Flavor</th>
		<th>Status</th>
		<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	$for od_deploy in od_deploys:
		<tr >
			<td>$od_deploy.username</td>
			<td>$od_deploy.version</td>
			<td>
			$ shortver = "".join(od_deploy.version.split('.'))
			$for flavor in od_deploy.deploy_config.split(','):
				$ insurl = od_deploy.username + "_" + shortver + "_" + flavor.lower()
				<a href="http://qatest.sugarcrm.pvt/$insurl" target="_blank" >${flavor} </a>
			</td>
			<td name="list_status" class="${od_deploy.status}" id="deploy_status_${od_deploy.id}">$od_deploy.status</td>
			<td>
				<input type="button" class="btn btn-success" name="redeploy" id="deployList-$od_deploy.id" href="./oddeploy?id=$od_deploy.id" value="Deploy">
				<a class="btn btn-danger" name="remove" href="./oddeploy_remove?id=$od_deploy.id">Remove</a>
			</td>
		</tr>
	</tbody>
	</table>

	    <script src="/static/bootstrap/js/jquery.min.js"></script>
	    <script src="/static/bootstrap/js/jquery.validate.min.js"></script>
	    <script src="/static/bootstrap/js/validate.js"></script>
	    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
	    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
	    <script src="/static/bootstrap/js/od_custom.js"></script>
