$def with (od_deploys, site_url, upgradeStatus, od_users)
$var cssfiles: /static/bootstrap/css/bootstrap.css /static/bootstrap/css/custom.css
$var site_url: $site_url
	<label><b><u>OnDemand Silent Conversion/Upgrade</u></b></label>
	<div class="alert">
		<strong>Warning!</strong> Currently upgrade feature doesn't work, we're still working hard on it!
	</div>
	<form class="well form-inline" method="post" action ="${site_url}/ODDeploy/oddeploy_si" id="silentUpgradeForm">
		<table class="table table-condensed">
			<thead>
				<tr>
				<th>Sugar Instance</th>
				<th>Type</th>
				<th id="flavorheader">Current Flavor</th>
				<th id="dynamicheader">To Flavor</th>
				<th id="versionheader">Version</th>
				<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr >
					<td>
						<input type="text" id="insname" name="insname" placeholder="Sugar instance name">
					</td>
					<td>
						<input type="radio" id="upgradetype1" name="upgradetype" value="conversion"  checked>Convertion
						</br>
						<input type="radio" id="upgradetype2" name="upgradetype" value="upgrade" >Upgrade
					</td>
					<td>
						<select id="flavorlist" name="flavorlist">
							<option value="ce">CE</option>
							<option value="pro">Pro</option>
							<option value="ent">Ent</option>
							<option value="corp">Corp</option>
						</select>
					<td>
						<select id="dynamiclist" name="dynamiclist">
							<option value="pro">Pro</option>
							<option value="ent">Ent</option>
							<option value="corp">Corp</option>
							<option value="ult">Ult</option>
						</select>
					</td>
					<td>
						<select id="versionlist" name="versionlist">
							<option value="6.6.0">6.6.0</option>
						</select>
					</td>
					<td>
						$if upgradeStatus == 0:
							<input type="hidden"  name="tester"  value="${upgradeStatus}" >
							<input type="button" class="btn btn-success" name="reupgrade" id="reupgrade"  value="Upgrade">
						$else:
							<input type="hidden"  name="tester"  value="${upgradeStatus}" >
							<input type="button" class="btn btn-success" name="reupgrade" id="reupgrade"  value="Upgrade" disabled="disabled">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<label><b><u>OnDemand Deployment Configuration</u></b></label>
		<strong>Find deployed instance list here: <a href="http://qatest.sugarcrm.pvt/instances.php" target="_blank">Instances list</a></strong>
	<form class="well form-inline" method="post" action ="${site_url}/ODDeploy/oddeploy_add" id="addBuildForm">
		<select name="username">
		$for username in od_users:
			<option value="$username">${od_users[username]}</option>
		</select>
		<select name="version">
			<option value="6.6.0">6.6.0</option>
			<option value="6.5.6">6.5.6</option>
		</select>
		<input name="webroot" type="hidden"  value="qatest-web1.sjc.sugarcrm.pvt" >
		<!--
		<select name="webroot">
			<option value="qatest-web1.sjc.sugarcrm.pvt">qatest-web1.sjc.sugarcrm.pvt</option>
			<option value="qatest-web2.sjc.sugarcrm.pvt">qatest-web2.sjc.sugarcrm.pvt</option>
		</select>
		-->
		<label class="checkbox inline">
			<input type="checkbox" name="flavor1" value="Ult">Ult
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="flavor2" value="Ent" checked>Ent
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="flavor3" value="Corp">Corp
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="flavor4" value="Pro">Pro
		</label>
		<label class="checkbox inline">
			<input type="checkbox" name="flavor5" value="CE">CE
		</label>

		<button id="footer_save"  type="submit" class="btn btn-primary">Add</button>
	</form>

	<table class="table table-condensed">
	<thead>
		<tr>
		<th>Username</th>
		<th>Version</th>
		<th>Flavor list</th>
		<th>Latest Deploy Date</th>
		<th>Status</th>
		<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	$for od_deploy in od_deploys:
		<tr >
			<td>${od_users[od_deploy.username]}</td>
			<td>$od_deploy.version</td>
			<td>
			$ shortver = "".join(od_deploy.version.split('.'))

			$for flavor in od_deploy.deploy_config.split(','):
				$ insurl = od_deploy.username + "_" + shortver + flavor.lower()
				$if od_deploy.last_deploy_date:
					$ last_deploy_date = od_deploy.last_deploy_date.replace('-', '')
					$ last_deploy_date = last_deploy_date.replace(':', '')
					$ last_deploy_date = last_deploy_date.replace(' ', '')
					<a href="http://qatest.sugarcrm.pvt/${insurl}_${last_deploy_date}" target="_blank" >${flavor}</a>
				$else:
					${flavor} 
			</td>
			<td>$od_deploy.last_deploy_date</td>
			<td name="list_status" class="${od_deploy.status}" id="deploy_status_${od_deploy.id}">$od_deploy.status</td>
			<td>
				<input type="button" class="btn btn-success" name="redeploy" id="deployList-$od_deploy.id"  value="Deploy">
				<a class="btn btn-danger" name="remove" href="${site_url}/ODDeploy/oddeploy_remove?id=$od_deploy.id">Remove</a>
			</td>
		</tr>
	</tbody>
	</table>

	    <script src="/static/bootstrap/js/jquery.min.js"></script>
	    <script src="/static/bootstrap/js/jquery.validate.min.js"></script>
	    <script src="/static/bootstrap/js/validate.js"></script>
	    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
	    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
	    <script src="/static/bootstrap/js/od_custom.js"></script>
